{% extends "base.html" %}

{% block title %}{{ application_name }} - {{ page.name|escape }} - Edit{% endblock %}

{% block head %}
  <style type="text/css">

  #body {
    margin: 29px;
    margin-top: 19px;
  }

  #body .buttons {
    margin-top: 0.75em;
  }

  #body .buttons .item {
    margin-right: 0.5em;
  }

  </style>
  <link rel="stylesheet" href="/static/css/closure/closure/button.css" /> 
  <link rel="stylesheet" href="/static/css/closure/closure/css/demo.css"> 
  <link rel="stylesheet" href="/static/css/closure/closure/menus.css" /> 
  <link rel="stylesheet" href="/static/css/closure/closure/palette.css" /> 
  <link rel="stylesheet" href="/static/css/closure/closure/toolbar.css" /> 
  <link rel="stylesheet" href="/static/css/closure/closure/editortoolbar.css" />
{% endblock %}

{% block foot %}
    <script src="/static/js/app/edit.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <form action="{{ page.edit_url|escape }}" method="post">
    <div id="toolbar"></div>
    <div id="edit_content" style="height:300px;overflow:visible;">{{ page.content }}</div>

    <textarea rows="10" cols="50" id="content" style="width:100%;height:200px;" name="content">{{ page.content|escape }}</textarea>
    <span class="item"><input id="display_change" style="font-weight: bold" type="button" value="Display Changes"/></span>

    <div class="buttons">
      <span class="item"><input style="font-weight: bold" type="submit" value="Save Changes"/></span>
      <span class="item"><input type="button" onclick="location.href='{{ page.view_url|escape }}'" value="Cancel"/></span>
    </div>
  </form>
{% endblock %}
